<!-- <div *ngIf="video">
    <div *ngIf="display">
        <mat-card>
            <mat-card-title>
                Video Details
            </mat-card-title>
            <mat-card-content>
            <table>
                <tr>
                    <th>Video ID</th>
                    <td>{{video[0].videoId}}</td>
                </tr>
                <tr>
                    <th>Trending Date</th>
                    <td>{{video[0].trendingDate}}</td>
                </tr>
                <tr>
                     <th>Video Title</th>
                    <td>{{video[0].title}}</td>
                </tr>
                <tr>
                    <th>Channel Title</th>
                    <td>{{video[0].channelTitle}}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>{{categories[video[0].category]}}</td>
                </tr>
                <tr>
                    <th>Published Time</th>
                    <td>{{video[0].publishTime}}</td>
                </tr>
                <tr>
                    <th>Tags</th>
                    <td>{{video[0].tags}}</td>
                </tr>
                <tr>
                    <th>Number of Views</th>
                    <td>{{video[0].views}}</td>
                </tr>
                <tr>
                    <th>Number of Likes</th>
                    <td>{{video[0].likes}}</td>
                </tr>
                <tr>
                    <th>Number of Dislikes</th>
                    <td>{{video[0].dislikes}}</td>
                </tr>
                <tr>
                    <th>Number of Comments</th>
                    <td>{{video[0].numComments}}</td>
                </tr>
                <tr>
                    <th>Thumbnail Icon</th>
                    <td>{{video[0].thumbnail}}</td>
                </tr>
                <tr>
                    <th>Comments Disabled?</th>
                    <td>{{video[0].comDisabled}}</td>
                </tr>
                <tr>
                    <th>Ratings Disabled?</th>
                    <td>{{video[0].ratDisabled}}</td>
                </tr>
                 <tr>
                    <th>Video Error?</th>
                    <td>{{video[0].videoError}}</td>
                </tr> 
                 <tr>
                    <th>Description</th>
                    <td>{{video[0].desc}}</td>
                </tr>                             
            </table>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="!display">
        <mat-card>
            <mat-card-title>
                Sorry, entered video ID is not present in the database!
            </mat-card-title>
        </mat-card>
    </div>
    <button mat-button (click)="back()">BACK</button>
</div> -->
<div *ngIf="videos">
    <div *ngIf="display">
        <mat-card>
            <mat-card-title>
                Details of Matching Videos
            </mat-card-title>
            <mat-card-content>
                    <table border="1" *ngIf="videos">
                            <tr>
                                    <th>Video ID</th>
                                    <th>Trending Date</th>
                                    <th>Video Title</th>
                                    <th>Channel Title</th>
                                    <th>Category</th>
                                    <th>Published Time</th>
                                    <th>Tags</th>
                                    <th>Number of Views</th>
                                    <th>Number of Likes</th>
                                    <th>Number of Dislikes</th>
                                    <th>Number of Comments</th>
                                    <th>Thumbnail Icon</th>
                                    <th>Comments Disabled?</th>
                                    <th>Ratings Disabled?</th>
                                    <th>Video Error?</th>
                                    <th>Description</th>
                            </tr>
                            <tr *ngFor="let video of videos">
                                <td>{{video.videoId}}</td>
                                <td>{{video.trendingDate}}</td>
                                <td>{{video.title}}</td>
                                <td>{{video.channelTitle}}</td>
                                <td>{{categories[video.category]}}</td>
                                <td>{{video.publishTime}}</td>
                                <td>{{video.tags}}</td>
                                <td>{{video.views}}</td>
                                <td>{{video.likes}}</td>
                                <td>{{video.dislikes}}</td>
                                <td>{{video.numComments}}</td>
                                <td>{{video.thumbnail}}</td>
                                <td>{{video.comDisabled}}</td>
                                <td>{{video.ratDisabled}}</td>
                                <td>{{video.videoError}}</td>
                                <td>{{video.desc}}</td>
                            </tr>
                        </table>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="!display">
        <mat-card>
            <mat-card-title>
                Sorry, entered video title keyword is not present in the database!
            </mat-card-title>
        </mat-card>
    </div>
    <button mat-button (click)="back()">BACK</button>
</div>