<div *ngIf="videos">
        <div *ngIf="display">
            <mat-card>
                <mat-card-title>
                    Details of Matching Videos
                </mat-card-title>
                <mat-card-content>
                        <table border="1" *ngIf="videos">
                                <tr>
                                        <th>Video ID</th>
                                        <th>Trending Date</th>
                                        <th>Video Title</th>
                                        <th>Channel Title</th>
                                        <th>Category</th>
                                        <th>Published Time</th>
                                        <th>Tags</th>
                                        <th>Number of Views</th>
                                        <th>Number of Likes</th>
                                        <th>Number of Dislikes</th>
                                        <th>Number of Comments</th>
                                        <th>Thumbnail Icon</th>
                                        <th>Comments Disabled?</th>
                                        <th>Ratings Disabled?</th>
                                        <th>Video Error?</th>
                                        <th>Description</th>
                                </tr>
                                <tr *ngFor="let video of videos">
                                    <td>{{video.videoId}}</td>
                                    <td>{{video.trendingDate}}</td>
                                    <td>{{video.title}}</td>
                                    <td>{{video.channelTitle}}</td>
                                    <td>{{categories[video.category]}}</td>
                                    <td>{{video.publishTime}}</td>
                                    <td>{{video.tags}}</td>
                                    <td>{{video.views}}</td>
                                    <td>{{video.likes}}</td>
                                    <td>{{video.dislikes}}</td>
                                    <td>{{video.numComments}}</td>
                                    <td>{{video.thumbnail}}</td>
                                    <td>{{video.comDisabled}}</td>
                                    <td>{{video.ratDisabled}}</td>
                                    <td>{{video.videoError}}</td>
                                    <td>{{video.desc}}</td>
                                </tr>
                            </table>
                </mat-card-content>
            </mat-card>
        </div>
        <div *ngIf="!display">
            <mat-card>
                <mat-card-title>
                    Sorry, entered video title keyword is not present in the database!
                </mat-card-title>
            </mat-card>
        </div>
        <button mat-button (click)="back()">BACK</button>
    </div>