<mat-card>
    <mat-card-title>
        Display Specific
    </mat-card-title>
    <mat-card-content>
        <div>
            <form [formGroup]="idForm" (ngSubmit)="onSubmit()">
                <mat-grid-list cols="2" rowHeight="6:1">
                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-label>Enter Video ID</mat-label>
                            <input matInput formControlName="videoId" required>
                            <mat-error *ngIf="videoId.hasError('required')">
                                Input is required
                            </mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-button type="submit">RETRIEVE DETAILS</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
        </div>
    </mat-card-content>
</mat-card>
<mat-card>
        <mat-card-title>
            Display All
        </mat-card-title>
        <mat-card-content>
            <div>
        <table border="1" *ngIf="videoData">
            <tr>
                    <th>Video ID</th>
                    <th>Trending Date</th>
                    <th>Video Title</th>
                    <th>Channel Title</th>
                    <th>Category</th>
                    <th>Published Time</th>
                    <th>Tags</th>
                    <th>Number of Views</th>
                    <th>Number of Likes</th>
                    <th>Number of Dislikes</th>
                    <th>Number of Comments</th>
                    <th>Thumbnail Icon</th>
                    <th>Comments Disabled?</th>
                    <th>Ratings Disabled?</th>
                    <th>Video Error?</th>
                    <th>Description</th>
            </tr>
            <tr *ngFor="let video of videoData">
                <td>{{video.videoId}}</td>
                <td>{{video.trendingDate}}</td>
                <td>{{video.title}}</td>
                <td>{{video.channelTitle}}</td>
                <td>{{categories[video.category]}}</td>
                <td>{{video.publishTime}}</td>
                <td>{{video.tags}}</td>
                <td>{{video.views}}</td>
                <td>{{video.likes}}</td>
                <td>{{video.dislikes}}</td>
                <td>{{video.numComments}}</td>
                <td>{{video.thumbnail}}</td>
                <td>{{video.comDisabled}}</td>
                <td>{{video.ratDisabled}}</td>
                <td>{{video.videoError}}</td>
                <td>{{video.desc}}</td>
            </tr>
        </table>
    </div>
</mat-card-content>
</mat-card>