<mat-tab-group>
        <mat-tab label="Insert">
            <app-user-form></app-user-form>
        </mat-tab> 
        <mat-tab label="Select">
            <app-select-data></app-select-data>
        </mat-tab>
        <mat-tab label="Update">
                <app-update-data></app-update-data>
        </mat-tab>
        <mat-tab label="Delete">
            <app-delete-data></app-delete-data>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <a href="https://charts.mongodb.com/charts-project-0-qqbwx/dashboards/97a9c683-022d-4da7-9008-ead05dc3f85e">Analysis</a>
            </ng-template>
        </mat-tab>
</mat-tab-group>